
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 20px; 
    row-gap: 20px; 
    margin: 20px; 
}

.wrapper div {
    border: 2px solid #cceeee; 
    border-radius: 10px;
    background-color: #cdaa64;
    padding: 3em;
}

.wrapper h2 {
    text-align: center;
    font-size: xx-large;
    vertical-align:text-top;
    margin-bottom: 1cm;
    margin-top: -1cm;
    color: #101479;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper p {
    text-align: center;
    font-size: x-large;
    font-family:Impact,sans-serif;
    color: #101010;
}

.wrapper img {
    display: block;
    margin: auto;
    width: 10cm;
    height: 10cm;
}
body{
    background-color: #002c2c;
}
h1{
    color: #fff;
}